@import "tailwindcss";

/* 主题色 */
@theme {
    /* 主色：蓝 */
    --color-primary: #2563eb;
    --color-primary-hover: #1d4ed8;
    
    /* 状态色 */
    --color-success: #10b981;  /* 绿 */
    --color-warning: #f59e0b;  /* 橙 */
    --color-danger: #ef4444;   /* 红 */
    
    /* 文字色 */
    --color-text-primary: #111827;
    --color-text-secondary: #6b7280;
  }